.payment-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 45px;
}

.payment-form {
    width: 543px;
    margin-right: 2rem;
}

.order-history {
    width: 310px;
    height: 390px;
    background-color: #f1eeee;
    border-radius: 10px;
    padding: 17px;
}
